@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#f8f9fb;
color:#222;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

ul{
list-style:none;
}

img{
width:100%;
display:block;
}

.container{
    width:115%;
    max-width:1800px;
    margin:auto;
}

section{
padding:80px 0;
}

.title{
font-size:38px;
font-weight:700;
text-align:center;
margin-bottom:15px;
color:#0d6efd;
}

.subtitle{
text-align:center;
color:#666;
margin-bottom:50px;
}

.btn{
display:inline-block;
padding:14px 28px;
background:#0d6efd;
color:white;
border-radius:8px;
font-weight:600;
transition:.3s;
}

.btn:hover{
background:#004fc7;
transform:translateY(-3px);
}

.btn2{
display:inline-block;
padding:14px 28px;
background:#FFD43B;
color:#222;
border-radius:8px;
font-weight:600;
margin-left:15px;
transition:.3s;
}

.btn2:hover{
transform:translateY(-3px);
}

html::-webkit-scrollbar{
width:8px;
}

html::-webkit-scrollbar-thumb{
background:#0d6efd;
border-radius:20px;
}